<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @mood, partial: "card", as: :mood %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "moods/mood_artworks" %>
  </div>
</div>
