<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Favorites
  </div>

  <ul class="list-group list-group-flush">
    <% @artist.favorites.each do |artwork| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/artworks/<%= artwork.id %>">
          <%= artwork %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
