<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Favorited Works

    <a data-toggle="collapse" href="#artist_favorited_works_new_form">
      Add favorited work
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @artist.favorited_works.each do |favorited_work| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to favorited_work, favorited_work %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="artist_favorited_works_new_form">
        <%= render partial: "artists/artist_favorited_works_new_form" %>
      </div>
    </div>

  </ul>
</div>
