<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Artworks

    <a data-toggle="collapse" href="#medium_type_artworks_new_form">
      Add artwork
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @medium_type.artworks.each do |artwork| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to artwork, artwork %>

        <% if current_artist == artwork.artist %>
          <%= link_to artwork, method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="medium_type_artworks_new_form">
        <%= render partial: "medium_types/medium_type_artworks_new_form" %>
      </div>
    </div>

  </ul>
</div>
