<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @medium_type, partial: "card", as: :medium_type %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "medium_types/medium_type_artworks" %>
  </div>
</div>
