<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @artwork, partial: "card", as: :artwork %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "artworks/artwork_favorites" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "artworks/artwork_fans" %>
  </div>
</div>
